html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
.Calculator_key_grid {
  grid-template-columns: repeat(4, 1fr);
  grid-template-columns: repeat(6, 1fr);
}
span {
  display: inline-block;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.Calculator {
  font-weight: 800;
  width: 50%;
  height: 60%;
  border: 3px solid black;
}

.Calculator .Calculator_screen {
  width: 100%;
  height: 30%;
  padding: 10px;
  background-color: black;
}
.Calculator_key {
  width: 100%;
  height: 70%;

  padding: 10px;
  background-color: gray;
  color: white;
}
.Calculator_key .Calculator_key_flex {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-around;
}
.Calculator_key .Calculator_key_flex input {
  border: none;
  background-color: gray;

  color: white;
}

.Calculator_key_grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  height: 90%;
}
input {
  cursor: pointer;
}
.Calculator_key_grid input {
  font-size: 20px;
  background-color: gray;
  color: white;
}
